.block {
    height: 100%;
}

    .block__title {
        display: block;
        font-size: $fontSizeLg;
        color: $colorDark;
    }

    .block__sub-title {
        display: inline-block;
        text-decoration: none;
        color: $linkColor;

        &:hover {
            text-decoration: none;
            color: $linkHoverColor;
        }
    }

    .block__text {}

.block--present {
    padding: 1.4rem 1.7rem;
    border: 1px solid $colorPrimary;

    .block__title {
        margin: 1rem 0;
    }
}

.block--horizontal {
    padding: 1rem 1rem;
    border: 1px solid $colorPrimary;

    .block__header {
        .icon {
            float: left;
            margin-top: 6px;
        }
    }

    .block__titles {
        padding: 0 0 12px 56px;
    }

    .block__title {
        margin: 0;
    }

    .block__text {
        line-height: 24px;
    }
}

.block--row {
    margin-bottom: 1.5rem;

    .block__icon {
        margin-bottom: 1rem;

    }

    .block__title {
        margin-top: 0;
        margin-bottom: 0.5rem;
        text-transform: none;
    }

    .block__desc {
        margin-bottom: 1rem;
    }

    .block__text {

    }
}

