.btn {
    font-size: $fontSizeSm;
    font-weight: $fontWeightRegular;
    //line-height: 13px;
    //letter-spacing: 0.2px;
    text-transform: uppercase;
    border-width: 2px;
    border-color: transparent;
    border-radius: 0;

    &:focus, &.focus {
        outline: none;
        box-shadow: none;
    }
}

/* TODO: look at @include button-variant */

.btn-primary {
    color: $colorLight;
    background-color: $colorPrimary;
    border-color: $colorPrimary;

    &:hover {
        color: $colorLight;
        background-color: $colorPrimary2;
        border-color: $colorPrimary2;
    }

    &:not(:disabled):not(.disabled):active {
        color: $colorLight;
        background-color: $colorPrimary1;
        border-color: $colorPrimary1;
    }


}
/*
.btn--xs {

}

.btn--sm {

}

.btn--md {

}

.btn--lg {
    font-size: 21px;
}

.btn--xl {

}

 */