.category {

}

.category__teaser {
    margin-bottom: 2rem;
}

.category__categories {
    margin-bottom: 3rem;

    p {
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        color: $colorDark5;
    }

        a {
            font-size: 0.95rem;
            text-transform: uppercase;
            color: $linkColor;

            &:hover {
                text-decoration: underline;
                color: $linkHoverColor;
            }
        }
}

.category__category {
    float: left;
    padding-right: 15px;
    padding-left: 15px;
}


.category__products {
    margin-bottom: 2rem;
}

.category__body {
    margin-bottom: 2rem;
}