.catalog__title {
    a {
        color: $linkSecondaryColor;

        &:hover {
            color: $linkSecondaryHoverColor;
        }
    }
}

.catalog__list {
    margin-bottom: 2rem;
}


.catalog__link {
    color: $linkPrimaryColor;

    &:hover {
        color: $linkPrimaryHoverColor;
    }
}