[data-toggle="collapse"] {

    .icon {
        transform: rotate(180deg);
    }

    .icon--xs {
        margin: -1px 0 0 3px;
    }

    &.collapsed {
        .icon {
            transform: rotate(0);
        }
    }

}