.form {

    .form-group {
        margin-bottom: 1.2rem;

    }

    label {
        color: $colorDark1;
    }

    .form-control {
        color: $colorDark1;
    }

    .has-error {
        .form-control {
            border: 1px solid $colorDanger;
        }
    }

    .form-help {
        padding: 0.2rem 0 0 0;
        font-size: 0.9rem;
        color: $colorDark5;
    }

    .form-error {
        padding: 0.2rem 0 0 0;
        font-size: 0.9rem;
        color: $colorDanger;
    }

    .form-or {
        padding-top: 42px;
        text-align: center;
        color: $colorDark1;

        @include media-breakpoint-down('sm') {
            padding-top: 0;
        }
    }

    .btn {
        padding: 0.375rem 1.45rem;
    }
}



.form--materialize {

}