.icon {
    display: inline-block;
    vertical-align: middle;
    fill: $colorPrimary;
    @include transition(all 0.1s);
}

.icon--xs {
    width: 14px;
    height: 14px;
}

.icon--sm {
    width: 17px;
    height: 17px;
}

.icon--md {
    width: 30px;
    height: 30px;
}

.icon--lg {
    width: 42px;
    height: 42px;
}

.icon--xl {
    width: 78px;
    height: 78px;
}

.icon--19x19 {
    width: 19px;
    height: 19px;
}

.icon--52x52 {
    width: 52px;
    height: 52px;
}

.icon--64x64 {
    width: 64px;
    height: 64px;
}