.link {
    color: $linkColor;

    span {
        vertical-align: middle;
    }

    &:hover {
        color: $linkHoverColor;
    }
}

.link-primary {
    color: $linkPrimaryColor;

    &:hover {
        color: $linkPrimaryHoverColor;
    }
}

.link-secondary {
    color: $linkSecondaryColor;

    &:hover {
        color: $linkSecondaryHoverColor;
    }
}

.link-gray {
    color: $linkSecondaryColor;

    &:hover {
        color: $linkHoverColor;
    }
}

.link-dark {
    color: $linkDarkColor;

    &:hover {
        color: $linkHoverColor;
    }
}

.link-light {
    color: $linkLightColor;

    &:hover {
        color: $linkLightHoverColor;
    }
}