.logo {
    display: block;
    width: 214px;
    height: 48px;
    line-height: 1.6em;
    text-align: center;
    text-transform: uppercase;

    @include media-breakpoint-down(md) {
        line-height: 1.45em;
    }

    @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
    }

    @include media-breakpoint-down(xs) {
        margin: 0 auto 20px;
    }
}

    .logo__name {
        display: inline-block;
        font-size: $logoFontSizePrimary;
        font-weight: $fontWeightMedium;
        color: $logoColorPrimary;
    }

    .logo__title {
        display: inline-block;
        font-size: $logoFontSizeSecondary;
        font-weight: $fontWeightRegular;
        letter-spacing: 1.6px;
        color: $logoColorSecondary;
    }