.modal {
    .close {
        padding: 1rem 1rem;
        margin: -1.3rem -1rem -1rem auto;
        font-size: 2rem;
        font-weight: normal;
    }
}

.modal-header {
    padding: 2rem 2rem 0 2rem;
    border-bottom: 0;
}

.modal-title {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.modal-body {
    padding: 2rem;
}