.owl-carousel {

    .owl-nav {

        button.owl-prev,
        button.owl-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 16px 12px !important;
            outline: none;
            overflow: hidden;
            background: rgba(255, 255, 255, 0.7);
            cursor: pointer;
            z-index: z('sliderArrow');
            @include transition(all 0.1s);

            .icon {
                width: 32px;
                height: 70px;
                fill: $slickArrowIconColor;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.2);

                .icon {
                    fill: $slickArrowIconHoverColor;
                }
            }
        }

        button.owl-prev {
            left: 12px;
        }

        button.owl-next {
            right: 12px;
        }

    }

}