.pagination {
    .page-link {
        color: $paginationLinkColor;
    }

    .page-item {
        &.active {
            .page-link {
                z-index: 3;
                color: #fff;
                background-color: $paginationLinkColor;
                border-color: $paginationLinkColor;
            }
        }
    }

}