.product-card {
    margin-bottom: 56px;
}

.product-card__title {
    display: inline-block;
    margin-bottom: 28px;
    font-size: 22px;
    text-decoration: none;
    color: $colorDark;

    &:hover {
        color: $colorDark2;
    }
}

.product-card__desc {
    margin-bottom: 18px;
}

    .product-card__image {
        display: inline-block;
        width: 100%;
        min-height: 199px;
        text-align: center;
    }

        .product-card__img {

        }

    .product-card__link {
        position: absolute;
        left: 15px;
        bottom: 0;
        text-decoration: underline;
        color: $linkPrimaryColor;

        &:hover {
            color: $linkPrimaryHoverColor;
        }
    }

.product-card__price {
    font-size: 1rem;

    span {
        font-size: 34px;
    }
}

.product-card__btn-rent {
    padding: 0.4rem 1.6rem;
    font-size: $fontSizeMd;
    color: $colorLight;

    @include media-breakpoint-down(md) {
        font-size: 19px;
        padding: 0.5rem 1.2rem;
    }

    @include media-breakpoint-down(sm) {
        padding: 0.5rem 2rem;
        font-size: 21px;
    }
}