.product {

}

.product__image {
    a {
        display: inline-block;
    }

        img {

        }
}

.product__images {

}

    .product__img-link {
        margin-left: 16px;
        outline: none;
    }

        .product__img {
            border: 3px solid transparent;

            .selected & {
                border: 3px solid $colorPrimary2;
            }
        }

.product__price {
    margin-bottom: 16px;
    font-size: 1rem;
    line-height: 26px;

    span {
        font-size: 34px;
    }
}

.product__equipment-link {
    margin-bottom: 32px;
}

.product__btn-rent {
    padding: 0.5rem 2rem;
    font-size: 21px;
    color: $colorLight;
}