.relation-card {
    margin-bottom: 56px;
}

.relation-card__title {
    display: inline-block;
    height: 36px;
    margin-top: 12px;
    margin-bottom: 28px;
    font-size: 18px;
    line-height: 26px;
    text-decoration: none;
    color: $colorDark;

    &:hover {
        color: $linkHoverColor;
    }
}

.relation-card__desc {
    margin-bottom: 18px;
}

    .relation-card__image {
        display: inline-block;
        width: 100%;
        min-height: 199px;
        text-align: center;
    }

        .relation-card__img {

        }

    .relation-card__link {
        text-decoration: underline;
        color: $linkPrimaryColor;

        &:hover {
            color: $linkPrimaryHoverColor;
        }
    }

.relation-card__price {
    font-size: 1rem;

    span {
        font-size: 34px;
    }
}

.relation-card__btn-rent {
    padding: 0.4rem 1.6rem;
    font-size: $fontSizeMd;
    color: $colorLight;

    @include media-breakpoint-down(md) {
        font-size: 19px;
        padding: 0.5rem 1.2rem;
    }

    @include media-breakpoint-down(sm) {
        padding: 0.5rem 2rem;
        font-size: 21px;
    }
}