.service {
    text-align: center;
}

    .service__image {
        display: inline-block;
        margin-bottom: 8px;
        width: 100%;
    }

    .service__title {
        margin-bottom: 8px;
        text-transform: uppercase;
        font-size: $fontSizeLg;
    }

    .service__price {
        display: inline-block;
        margin-bottom: 24px;
        font-size: $fontSizeXl;
        color: $colorLight4;
    }