.slick-slider {

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 52px;
        height: 102px;
        //margin-top: -41px;
        background: rgba(255, 255, 255, 0.7);
        cursor: pointer;
        z-index: z('sliderArrow');
        @include transition(all 0.1s);

        &:hover {
            background: rgba(255, 255, 255, 0.2);

            .icon {
                fill: $slickArrowIconHoverColor;
            }
        }

        .icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 34px;
            height: 68px;
            fill: $slickArrowIconColor;
        }
    }

    //.slick-arrow {top: 205px;}
    .slick-prev {
        left: 12px;
    }

    .slick-next {
        right: 12px;
    }

    //.icon {
    //    width: 35px;
    //    height: 59px;
    //    fill: #fff;
    //    opacity: 0;
    //    transition: all 0.1s ease-in-out;
    //
    //    &:hover {
    //        fill: #58a122;
    //    }
    //}
}