/* Set the overriding Bootstrap variables */

$grid-breakpoints: (
    xxs: 0,
    xs: 468px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1280px
);

$container-max-widths: (
    xs: 468px,
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1280px
    //xll: 1300px
);

$theme-colors: (
    primary: $colorPrimary,
    success: $colorSuccess,
    danger: $colorDanger
);