body {
    font-family: $fontFamilyDefault;
    font-size: $fontSizeDefault;
    font-weight: $fontWeightRegular;
    color: $fontColorDefault;
    //text-size-adjust: none;
}

.container {
    padding-left: 64px;
    padding-right: 64px;

    @include media-breakpoint-down(lg) {
        width: 100%;
        max-width: none;
        padding-left: 15px;
        padding-right: 15px;
    }
}

a {
    text-decoration: none;
    color: $linkColor;
    @include transition(all 0.1s);

    &:hover {
        text-decoration: none;
        color: $linkHoverColor;
    }
}

h1, h1 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: normal;
}

h2, .h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: normal;
}

h3, .h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: normal;
}

b {
    font-weight: $fontWeightMedium;
}

.content {
    margin-bottom: 80px;
    line-height: 28px;
}
