@font-face {
    font-family: 'Roboto';
    src: url('/fonts/RobotoLight.eot');
    src: url('/fonts/RobotoLight.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoLight.woff2') format('woff2'),
    url('/fonts/RobotoLight.woff') format('woff'),
    url('/fonts/RobotoLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/RobotoRegular.eot');
    src: url('/fonts/RobotoRegular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoRegular.woff2') format('woff2'),
    url('/fonts/RobotoRegular.woff') format('woff'),
    url('/fonts/RobotoRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/RobotoMedium.eot');
    src: url('/fonts/RobotoMedium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/RobotoMedium.woff2') format('woff2'),
    url('/fonts/RobotoMedium.woff') format('woff'),
    url('/fonts/RobotoMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}