$z-indexes: (
	default: 1,
    sliderArrow: 300,
	overlay: 900
);

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;

$fontSizeXxxs: 13px;
$fontSizeXxs: 14px; /* */
$fontSizeXs: 15px; /* */
$fontSizeSm: 16px; /* Default size */
$fontSizeMd: 18px; /* Main menu */
$fontSizeLg: 20px; /* Logo, h2 */
$fontSizeXl: 22px; /* h1 */

$colorPrimary: #41c700;
$colorPrimary1: #55DB15;
$colorPrimary2: #63e425;
/*$colorSecondary:*/
$colorDark: #000;
$colorDark1: #2C2C2C;
$colorDark2: #343435;
$colorDark3: #424242;
$colorDark4: #4D4D4D;
$colorDark5: #656565;
//$cc: #878787;
$colorLight: #fff;
$colorLight1: #E4E4E4;
$colorLight2: #D6D6D6;
$colorLight3: #a0a0a0;
$colorLight4: #6B6B6B;

$colorSuccess: #42e267;
$colorDanger: #de5b68;


$fontFamilyDefault: 'Roboto', 'Verdana', 'Geneva', sans-serif;
$fontSizeDefault: $fontSizeSm;
$lineHeightDefault: 1.4;
$fontColorDefault: $colorDark;


/* Try to build theme colors*/
$logoColorPrimary: $colorDark;
$logoColorSecondary: $colorDark4;
$logoFontSizePrimary: $fontSizeXl;
$logoFontSizeSecondary: 13px;

$linkColor: $colorPrimary;
$linkHoverColor: $colorPrimary2;
$linkPrimaryColor: $colorPrimary;
$linkPrimaryHoverColor: $colorPrimary2;
$linkSecondaryColor: $colorDark3;
$linkSecondaryHoverColor: $colorLight1;
$linkDarkColor: $colorDark;
$linkLightColor: $colorLight2;
$linkLightHoverColor: $colorLight;

$headerBgColor: $colorLight;

$menuMainBgColor: $colorPrimary;
$menuMainFontColor: $colorLight;

$menuBottomBgColor: $colorPrimary;
$menuBottomFontColor: $colorLight;

$breadFontSize: $fontSizeSm;
$breadLinkColor: $colorPrimary;
$breadLinkHoverColor: $colorPrimary2;
$breadSeparatorColor: $colorDark5;
$breadTextColor: $colorDark;


$footerBgColor: $colorDark2;
$footerColor: $colorLight2;
$footerTitleColor: $colorLight;
$footerTitleHoverColor: $colorLight2;
$footerMenuLinkColor: $colorLight2;
$footerMenuLinkHoverColor: $colorLight;
$footerBottomBgColor: $colorPrimary;
$footerBottomColor: $colorLight;

$slickArrowIconColor: $colorPrimary;
$slickArrowIconHoverColor: $colorPrimary2;

$paginationLinkColor: $colorPrimary;
$paginationLinkHoverColor: $colorPrimary2;

$sidebarTitleColor: $colorDark;
$sidebarLinkColor: $colorDark1;
$sidebarLinkHoverColor: $colorPrimary;
$sidebarLinkActiveColor: $colorPrimary;