<template>

    <div class="form-wrap">

        <form v-show="! isSuccess" class="form">

            <div class="form-group" :class="errors.name ? 'has-error' : ''">
                <label for="name">Ваше имя</label>
                <input v-model="model.name" class="form-control" type="text" id="name" name="name" placeholder="Представьтесь, пожалуйста" />
                <div :show="errors.name" class="form-error">{{ errors.name }}</div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5" :class="errors.phone ? 'has-error' : ''">
                    <label for="phone">Номер телефон</label>
                    <input v-model="model.phone" class="form-control" type="text" id="phone" name="phone" placeholder="В любом формате" />
                    <div :show="errors.phone" class="form-error">{{ errors.phone }}</div>
                </div>

                <div class="form-group form-or col-md-1">или</div>

                <div class="form-group col-md-6" :class="errors.email ? 'has-error' : ''">
                    <label for="email">Email</label>
                    <input v-model="model.email" class="form-control" type="text" id="email" name="email" placeholder="example@yandex.ru" />
                    <div :show="errors.email" class="form-error">{{ errors.email }}</div>
                </div>
            </div>

            <div class="form-group" :class="errors.category ? 'has-error' : ''">
                <label for="category">Тема</label>
                <input v-model="model.category" class="form-control" type="text" id="category" name="category" placeholder="Тема вопроса" />
                <div :show="errors.category" class="form-error">{{ errors.category }}</div>
            </div>

            <div class="form-group" :class="errors.question ? 'has-error' : ''">
                <label for="question">Вопрос</label>
                <textarea v-model="model.question" class="form-control" type="text" id="question" name="question" rows="5"
                      placeholder=""></textarea>
                <div :show="errors.question" class="form-error">{{ errors.question }}</div>
            </div>

            <div v-show="errors.error" class="alert alert-danger mt-3">{{ errors.error }}</div>

            <div>
                <button class="btn btn-primary" type="submit" @click="send" :disabled="isLoading">
                    <span v-show="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span v-if="! isLoading">Отправить</span>
                    <span v-else>Отправка...</span>
                </button>
            </div>

        </form>

        <div v-show="isSuccess" class="alert alert-success">
            Спасибо за Ваш вопрос!<br>
            Наш менеджер свяжется с Вами в ближайшее время.
        </div>

    </div>

</template>

<script>

    export default {

        data () {
            return {
                action: '/site/api/ask-question-form/set',
                model: {},
                isSuccess: false
            }
        },

        computed: {
            isLoading: function () {
                return VueApp.$store.getters['common/isLoading'];
            },
            hasError: function () {
                return VueApp.$store.getters['common/hasError'];
            },
            errors: function () {
                return VueApp.$store.getters['common/errors'];
            },
        },

        methods: {
            send (event) {
                event.preventDefault();

                VueApp.$store.dispatch('common/send', {url: this.action, data: this.model}).then(() => {
                    app.scrollTo('.form', {offset: 74});

                    if (this.hasError) {
                        return false;
                    }

                    this.isSuccess = true;
                });
            }
        }

    }
</script>