<template>

    <div class="form-wrap">

        <form v-show="! isSuccess" class="form">

            <div class="form-group" :class="errors.name ? 'has-error' : ''">
                <label for="name">Ваше имя</label>
                <input v-model="model.name" class="form-control" type="text" id="name" name="name" placeholder="Представьтесь, пожалуйста" />
                <div :show="errors.name" class="form-error">{{ errors.name }}</div>
            </div>

            <div class="form-group" :class="errors.phone ? 'has-error' : ''">
                <label for="phone">Номер телефон</label>
                <input v-model="model.phone" class="form-control" type="text" id="phone" name="phone" placeholder="В любом формате" />
                <div :show="errors.phone" class="form-error">{{ errors.phone }}</div>
            </div>

            <div class="form-group mb-4">
                <label for="comment">Коментарий</label>
                <textarea v-model="model.comment" class="form-control" type="text" id="comment" name="comment" placeholder="Если требуется"></textarea>
            </div>

            <div class="text-center">
                <button class="btn btn-primary" type="submit" @click="send" :disabled="isLoading">
                    <span v-show="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span v-if="! isLoading">Отправить</span>
                    <span v-else>Отправка...</span>
                </button>
            </div>

        </form>

        <div v-show="isSuccess" class="alert alert-success text-center">
            Спасибо за Вашу заявку! Наш менеджер свяжется с Вами в ближайшее время.
        </div>

    </div>

</template>

<script>

    export default {

        data () {
            return {
                model: {},
                isSuccess: false
            }
        },

        computed: {
            isLoading: function () {
                return VueApp.$store.getters['common/isLoading'];
            },
            hasError: function () {
                return VueApp.$store.getters['common/hasError'];
            },
            errors: function () {
                return VueApp.$store.getters['common/errors'];
            },
        },

        methods: {
            send (event) {
                event.preventDefault();

                VueApp.$store.dispatch('common/send', {url: '/site/api/callback-form/set', data: this.model}).then(() => {
                    if (this.hasError) {
                        return false;
                    }

                    this.isSuccess = true;
                });

            }
        }

    }
</script>