<template>

    <div class="form-wrap">

        <form v-show="! isSuccess" class="form">

            <div class="form-group" :class="errors.name ? 'has-error' : ''">
                <label for="name">Ваше имя</label>
                <input v-model="model.name" class="form-control" type="text" id="name" name="name" placeholder="Представьтесь, пожалуйста" />
                <div :show="errors.name" class="form-error">{{ errors.name }}</div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5" :class="errors.phone ? 'has-error' : ''">
                    <label for="phone">Номер телефон</label>
                    <input v-model="model.phone" class="form-control" type="text" id="phone" name="phone" placeholder="В любом формате" />
                    <div :show="errors.phone" class="form-error">{{ errors.phone }}</div>
                </div>

                <div class="form-group form-or col-md-1">или</div>

                <div class="form-group col-md-6" :class="errors.email ? 'has-error' : ''">
                    <label for="email">Email</label>
                    <input v-model="model.email" class="form-control" type="text" id="email" name="email" placeholder="example@yandex.ru" />
                    <div :show="errors.email" class="form-error">{{ errors.email }}</div>
                </div>
            </div>

            <div class="form-group">
                <label for="comment">Сообщение</label>
                <textarea v-model="model.comment" class="form-control" type="text" id="comment" name="comment" rows="5"
                      placeholder="Укажите детали поездки: дата и время, примерный маршрут, количество пассажиров, дети или взрослые"></textarea>
            </div>

            <div class="mb-4">
                <a class="collapsed" data-toggle="collapse" href="#collapse-full-form">
                    Полная форма
                    <svg class="icon icon--xs"><use xlink:href="#icon-arrow-bottom"></use></svg>
                </a>

                <div class="collapse mt-2 mb-4" id="collapse-full-form">

                    <div class="form-group" :class="errors.passengers ? 'has-error' : ''">
                        <div class="form-check form-check-inline">
                            <input v-model="model.type" class="form-check-input" type="radio" id="type1" name="type" value="1">
                            <label class="form-check-label" for="type1">Туда и обратно</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input v-model="model.type" class="form-check-input" type="radio" id="type2" name="type" value="2">
                            <label class="form-check-label" for="type2">Трансфер</label>
                        </div>
                    </div>

                    <div class="form-group" :class="errors.passengers ? 'has-error' : ''">
                        <label for="passengers">Количество пассажиров</label>
                        <input v-model="model.passengers" class="form-control" type="text" id="passengers" name="passengers" placeholder="" />
                        <div :show="errors.passengers" class="form-error">{{ errors.passengers }}</div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4" :class="errors.start ? 'has-error' : ''">
                            <label for="start">Начало аренды</label>
                            <input v-model="model.start" class="form-control" type="text" id="start" name="start" placeholder="Дата и время" />
                            <div :show="errors.start" class="form-error">{{ errors.start }}</div>
                        </div>

                        <div class="form-group col-md-8" :class="errors.from ? 'has-error' : ''">
                            <label for="from">Адрес подачи</label>
                            <input v-model="model.from" class="form-control" type="text" id="from" name="from" placeholder="Введите адрес начала поездки" />
                            <div :show="errors.from" class="form-error">{{ errors.from }}</div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4" :class="errors.end ? 'has-error' : ''">
                            <label for="end">Окончание аренды</label>
                            <input v-model="model.end" class="form-control" type="text" id="end" name="end" placeholder="Дата и время" />
                            <div :show="errors.end" class="form-error">{{ errors.end }}</div>
                        </div>
                        <div class="form-group col-md-8" :class="errors.to ? 'has-error' : ''">
                            <label for="to">Адрес назначение</label>
                            <input v-model="model.to" class="form-control" type="text" id="to" name="to" placeholder="Введите адрес окончания поездки" />
                            <div :show="errors.to" class="form-error">{{ errors.to }}</div>
                        </div>
                    </div>

                </div>
            </div>

            <div v-show="errors.error" class="alert alert-danger mt-3">{{ errors.error }}</div>

            <div>
                <button class="btn btn-primary" type="submit" @click="send" :disabled="isLoading">
                    <span v-show="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span v-if="! isLoading">Забронировать</span>
                    <span v-else>Забронировать...</span>
                </button>
            </div>

        </form>

        <div v-show="isSuccess" class="alert alert-success">
            Спасибо за Вашу заявку!<br>
            Наш менеджер свяжется с Вами в ближайшее время.
        </div>

    </div>

</template>

<script>

    export default {

        data () {
            return {
                action: '/site/api/order-form/set',
                model: {},
                isSuccess: false
            }
        },

        props: {
            product: {
                type: Number,
                default: 0
            }
        },

        computed: {
            isLoading: function () {
                return VueApp.$store.getters['common/isLoading'];
            },
            hasError: function () {
                return VueApp.$store.getters['common/hasError'];
            },
            errors: function () {
                return VueApp.$store.getters['common/errors'];
            },
        },

        created() {
            this.model.productId = this.product;
        },

        methods: {
            send (event) {
                event.preventDefault();

                VueApp.$store.dispatch('common/send', {url: this.action, data: this.model}).then(() => {
                    app.scrollTo('.form', {offset: 74});

                    if (this.hasError) {
                        return false;
                    }

                    this.isSuccess = true;
                });
            }
        }

    }
</script>