<template>

    <div class="form-wrap">

        <form v-show="! isSuccess" class="form">

            <div class="form-group" :class="errors.name ? 'has-error' : ''">
                <label for="name">Ваше имя</label>
                <input v-model="model.name" class="form-control" type="text" id="name" name="name" placeholder="Представьтесь, пожалуйста">
                <div :show="errors.name" class="form-error">{{ errors.name }}</div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-5" :class="errors.phone ? 'has-error' : ''">
                    <label for="phone">Номер телефон</label>
                    <input v-model="model.phone" class="form-control" type="text" id="phone" name="phone" placeholder="В любом формате">
                    <div :show="errors.phone" class="form-error">{{ errors.phone }}</div>
                </div>

                <div class="form-group form-or col-md-1">или</div>

                <div class="form-group col-md-6" :class="errors.email ? 'has-error' : ''">
                    <label for="email">Email</label>
                    <input v-model="model.email" class="form-control" type="text" id="email" name="email" placeholder="example@yandex.ru">
                    <div :show="errors.email" class="form-error">{{ errors.email }}</div>
                </div>
            </div>

            <div class="form-group" :class="errors.title ? 'has-error' : ''">
                <label for="company">Заголовок отзыва</label>
                <input v-model="model.title" class="form-control" type="text" id="title" name="title" placeholder="Коротко о чем будет ваш отзыв">
                <div :show="errors.title" class="form-error">{{ errors.title }}</div>
            </div>

            <div class="form-group" :class="errors.company ? 'has-error' : ''">
                <label for="company">Название компании</label>
                <input v-model="model.company" class="form-control" type="text" id="company" name="company">
                <div :show="errors.company" class="form-error">{{ errors.company }}</div>
            </div>

            <div class="form-group" :class="errors.rating ? 'has-error' : ''">
                <fieldset class="rating">
                    <legend>Ваша оценка</legend>
                    <input v-model="model.rating" type="radio" id="star5" name="rating" value="5"><label for="star5">5</label>
                    <input v-model="model.rating" type="radio" id="star4" name="rating" value="4"><label for="star4">4</label>
                    <input v-model="model.rating" type="radio" id="star3" name="rating" value="3"><label for="star3">3</label>
                    <input v-model="model.rating" type="radio" id="star2" name="rating" value="2"><label for="star2">2</label>
                    <input v-model="model.rating" type="radio" id="star1" name="rating" value="1"><label for="star1">1</label>
                    <div :show="errors.rating" class="form-error">{{ errors.rating }}</div>
                </fieldset>
            </div>

            <div class="form-group" :class="errors.comment ? 'has-error' : ''">
                <label for="comment">Ваш отзыв</label>
                <textarea v-model="model.comment" class="form-control" type="text" id="comment" name="comment" rows="5"
                      placeholder=""></textarea>
                <div :show="errors.comment" class="form-error">{{ errors.comment }}</div>
            </div>

            <div v-show="errors.error" class="alert alert-danger mt-3">{{ errors.error }}</div>

            <div>
                <button class="btn btn-primary" type="submit" @click="send" :disabled="isLoading">
                    <span v-show="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span v-if="! isLoading">Отправить</span>
                    <span v-else>Отправка...</span>
                </button>
            </div>

        </form>

        <div v-show="isSuccess" class="alert alert-success">
            Спасибо за Ваш отзыв!
        </div>

    </div>

</template>

<script>

    export default {

        data () {
            return {
                action: '/site/api/review-form/set',
                model: {},
                isSuccess: false
            }
        },

        computed: {
            isLoading: function () {
                return VueApp.$store.getters['common/isLoading'];
            },
            hasError: function () {
                return VueApp.$store.getters['common/hasError'];
            },
            errors: function () {
                return VueApp.$store.getters['common/errors'];
            },
        },

        methods: {
            send (event) {
                event.preventDefault();

                VueApp.$store.dispatch('common/send', {url: this.action, data: this.model}).then(() => {
                    app.scrollTo('.form', {offset: 74});

                    if (this.hasError) {
                        return false;
                    }

                    this.isSuccess = true;
                });
            }
        }

    }
</script>