.breads {
	width: 100%;
	margin-bottom: 0;
    font-size: $breadFontSize;
}

	.bread__link {
		color: $breadLinkColor;

		&:hover {
			color: $breadLinkHoverColor;
		}
	}

	.bread__sep {
		color: $breadSeparatorColor;
	}

	.bread__text {
		color: $breadTextColor;
	}