.footer {
    background: $footerBgColor;
    color: $footerColor;

    .link, .link-light {
        text-decoration: none;
    }
}

    .footer__wrap {
        padding: 40px 0;
    }

    .footer__phone {
        display: inline-block;
        font-size: 22px;
        color: $colorLight;

        &:hover {
            color: $colorLight1;
        }
    }

    .footer__callback {
        display: inline-block;
    }

    .footer__bottom {
        padding: 5px 0;
        font-size: 0.92rem;
        background: $footerBottomBgColor;
        color: $footerBottomColor;
    }

    .footer__title {
        margin-bottom: 4px;
        font-size: 1rem;
        text-transform: uppercase;
        color: $colorLight;

        a {
            color: $footerTitleColor;

            &:hover {
                color: $footerTitleHoverColor;
            }
        }
    }

    .footer__messagers {
    }

        .footer__whatsapp {
            text-decoration: none;
        }

    .footer__email {
        display: inline-block;
    }

    .footer__address {
        display: inline-block;
        text-decoration: none;
        color: $colorLight1;
    }

    .footer__company {
        display: inline-block;
    }

    .footer__social {
        a {
            display: inline-block;
            margin-right: 4px;
        }
    }