.header {
    width: 100%;
    padding: 32px 0 28px;
    background: $headerBgColor;

    @include media-breakpoint-down(lg) {
        padding: 32px 0;
    }
}

    .header__logo {
        padding-top: 4px;
        padding-left: 16px;

        @include media-breakpoint-down(xs) {
            padding-left: 0;
        }
    }

    .header__contacts {
        padding-left: 56px;

        @include media-breakpoint-down(lg) {
            padding-left: 38px;
        }

        @include media-breakpoint-down(md) {
            padding-left: 15px;
        }

        @include media-breakpoint-down(xxs) {
            text-align: center;
        }
    }

        .header__phone {

        }

            .header__whatsapp {
                display: inline-block;
                width: 18px;
                height: 26px;
                padding: 0px 5px 5px 0;
                margin-top: 0px;
                vertical-align: middle;
            }

            .header__number {
                display: inline-block;
                margin-left: -5px;
                font-weight: $fontWeightMedium;

                span {
                    padding-left: 8px;
                    vertical-align: middle;
                    font-size: $fontSizeLg;
                }
            }

        .header__callback {
            margin-left: 29px;
            font-size: $fontSizeXxs;

            @include media-breakpoint-down(xxs) {
                margin-left: 0;
            }
        }

    .header__addresses {
        padding-left: 87px;
        padding-top: 2px;
        font-size: $fontSizeXxs;

        @include media-breakpoint-down(lg) {
            padding-left: 15px;
        }

        @include media-breakpoint-down(sm) {
            padding-top: 0;
            padding-left: 36px;
            font-size: 13px;
        }

        @include media-breakpoint-down(xxs) {
            padding: 10px 15px 5px;
            text-align: center;
        }
    }

        .header__address {
            display: inline-block;
            margin-bottom: 8px;
            white-space: nowrap;
            color: $colorDark;

            @include media-breakpoint-down(sm) {
                margin-bottom: 0;
            }
        }

        .header__email {
            color: $colorDark3;
        }

    .header__rent {
        @include media-breakpoint-down(xl) {
            padding-left: 0 !important;
        }

        @include media-breakpoint-down(md) {
            padding-left: 15px !important;
            text-align: center;
        }

        @include media-breakpoint-down(sm) {
            text-align: left;
        }

        @include media-breakpoint-down(xs) {
            text-align: center;
        }
    }

        .header__btn {
            width: 100%;
            font-size: 15px;

            @include media-breakpoint-down(lg) {
                font-size: 14px;
            }

            @include media-breakpoint-down(md) {
                margin-top: 10px;
                font-size: 12px;
            }

            @include media-breakpoint-down(sm) {
                width: auto;
                margin-top: 0;
                margin-left: 21px;
                margin-right: 21px;
            }

            @include media-breakpoint-down(xs) {
                width: 100%;
                margin-top: 10px;
                margin-left: 0;
            }
        }

    .header__faq {
        display: inline-block;
        margin: 6px 0 0 0;
        font-size: 14px;
    }