.menu-footer {

    .menu__title {
        display: inline-block;
        margin-bottom: 12px;
        font-size: 1rem;
        text-transform: uppercase;
        color: $footerTitleColor;

        &:hover {
            text-decoration: underline;
            color: $footerTitleHoverColor;
        }
    }

    .menu__list {
        padding: 0 0 20px 0;

        .menu__item {
            list-style: none;
        }

            .menu__link {
                line-height: 1.6rem;
                color: $footerMenuLinkColor;

                &:hover {
                    text-decoration: underline;
                    color: $footerMenuLinkHoverColor;
                }
            }
    }
}