.menu-bottom {
    width: 100%;
    background: $menuBottomBgColor;

    .menu__list {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        text-align: center;
    }

        .menu__item {
            display: inline-block;
            padding: 6px 12px;
            list-style: none;
        }

            .menu__link {
                color: $menuBottomFontColor;

                &:hover {
                    text-decoration: underline;
                }
            }

}