.menu-top {
    padding: 0;
    background: rgba(0, 0, 0, 0.8);

    @include media-breakpoint-down(xs) {
        background: none;
    }

    .navbar-toggler {
        padding: 0;
        background: rgba(0, 0, 0, 0.8);
    }

    .navbar {
        padding: 0;

        &.navbar-expand-sm {
            .nav-link {
                padding: 6px 14px;
            }
        }
    }

    .navbar-nav {
        @include media-breakpoint-down(xs) {
            background: rgba(0, 0, 0, 0.8);
        }
    }

    .dropdown-menu {
        border-top: 2px solid $colorPrimary2;
        border-bottom: 1px solid $colorPrimary2;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.65);
        background-color: rgba(52, 52, 52, 0.95);
    }

    .nav-item {
        margin: 0;
        padding: 0;
        vertical-align: middle;

        &:last-child {
            .nav-link {
                padding-right: 0;
            }
        }

        &:hover {
            .nav-link {
                color: $linkHoverColor;
            }
        }

        &.active {
            .nav-link {
                color: $linkHoverColor;
            }
        }
    }

        .nav-link {
            padding: 2px 5px;
            font-size: 15px;
            color: $colorLight;
        }

            .nav-subitem {

            }

                .nav-sublink {
                    padding: 0.2rem 1.5rem;
                    font-size: 15px;
                    color: $colorLight;

                    &:hover {
                        background: rgba(255, 255, 255, 0.2);
                    }
                }

}