.menu {

    .navbar-toggler {
        width: 100%;
        border-radius: 0;
        outline: none;
    }

        .navbar-toggler-icon {
            .icon {
                width: 25px;
                height: 30px;
                fill: $colorLight;
            }
        }

    .dropdown-menu {
        display: block;
        visibility: hidden;
        opacity: 0;
        margin: 0;
        border: 0;
        border-radius: 0;
        transition: all 0.2s ease-in-out 0.1s;
        font-size: 1rem;

        @include media-breakpoint-down(xs) {
            display: none;
        }
    }

    .nav-item {
        &:hover {
            .dropdown-menu {
                visibility: visible;
                opacity: 1;
                transition-delay: 0.1s;

                @include media-breakpoint-down(xs) {
                    display: block;
                }
            }
        }
    }

}