.menu-main {
    padding: 0;
    margin-bottom: 26px;
    background: $menuMainBgColor;

    @include media-breakpoint-down(xs) {
        background: none;
    }

    .navbar {
        padding: 0;

        @include media-breakpoint-down(lg) {
            padding: 0;
        }

        @include media-breakpoint-down(md) {
            padding: 0;
        }

        &.navbar-expand-sm {
            .nav-link {
                padding: 12px 28px;

                @include media-breakpoint-down(md) {
                    padding: 10px 15px;
                }
            }
        }
    }

        .navbar-toggler {
            background: $menuMainBgColor;
        }

            .navbar-toggler-icon {
                .icon {
                    width: 25px;
                    height: 30px;
                    fill: #fff;
                }
            }

    .navbar-nav {
        width: 100%;
        background: $menuMainBgColor;

        @include media-breakpoint-down(md) {
            display: table;
        }

        @include media-breakpoint-down(xs) {
            display: list-item;
        }
    }

        .dropdown-menu {
            padding: 12px 0 20px 0;
            border-top: 4px solid $colorPrimary2;
            border-bottom: 2px solid $colorPrimary2;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.65);
            background-color: rgba(52, 52, 52, 0.95);
        }
            .dropdown {
                @include media-breakpoint-down(sm) {
                    flex-direction: column;
                }
            }

        .nav-item {
            margin: 0;
            padding: 0;
            vertical-align: middle;

            @include media-breakpoint-down(md) {
                display: table-cell;
            }

            @include media-breakpoint-down(xs) {
                display: flex;
            }

            &:hover {
                .nav-link {
                    background: $colorPrimary1;
                    color: #fff;
                }
            }

            &.active {
                .nav-link {
                    background: $colorPrimary1;
                    color: $colorLight;
                }
            }
        }

            .nav-link {
                font-size: $fontSizeXxs;
                font-weight: $fontWeightMedium;
                text-transform: uppercase;
                line-height: 19px;
                color: $colorLight;

                @include media-breakpoint-down(xs) {
                    width: 100%;
                }
            }

                .nav-sublink {
                    padding: 0.25rem 3.2rem 0.25rem 1.5rem ;
                    font-size: 16px;
                    color: $colorLight1;

                    &:hover {
                        background: rgba(255, 255, 255, 0.2);
                    }
                }

}