.sidebar {
    padding: 4px 0;
}

    .sidebar__title {
        color: $sidebarTitleColor;

        &.active {
            a {
                color: $sidebarLinkActiveColor;
            }
        }

        a {
            color: $sidebarTitleColor;

            &:hover {
                color: $sidebarLinkHoverColor
            }
        }
    }

    .sidebar__menu {

    }

        .sidebar__list {
            padding-left: 0;
            list-style: none;
        }

            .sidebar__item {
                margin-bottom: 8px;
                line-height: 24px;
            }

                .sidebar__link {
                    color: $sidebarLinkColor;

                    .active & {
                        color: $sidebarLinkActiveColor;
                    }
                }